[remote "mlove4u"]
    url = git@github.com:mlove4u/passages.git
    fetch = +refs/heads/*:refs/remotes/mlove4u/*
[remote "origin"]
    url = git@github.com:huangyingw/mlove4u_passages.git
    fetch = +refs/heads/*:refs/remotes/origin/*
[push]
    remote = origin
[gsync]
    remote = mlove4u
    branch = master
[merge]
    allow = true
[branch "dev"]
    remote = origin
    merge = refs/heads/dev
[branch "master"]
    remote = origin
    merge = refs/heads/master
[gdif]
    ignore = *.gdio.diff
    ignore = 2020-DST-en-chs-hwmr.txt
    ignore = readme
[deploy]
	host = localhost
	path = ~/myproject/git/bible/mlove4u/passages
